.transaction_history{
    width: 320px;
    height: auto;
    display: table;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transaction_title{
    color: beige;
    font-size: 18px;
    background-color: rgb(121, 173, 173);
    border-radius: 5px;
    text-transform: uppercase;
}


td {
    padding: 15px 0;
    border-left: 1px solid darkgrey; 
    color: rgb(128, 128, 128);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr:nth-child(2n) {
    background-color: #e2e2e2;
}